body{
	background-color:#f0f0f0;
}

#post_card{
	background-color:white;
	
}

.post_card_normal{
	overflow:hidden;
}

.post_card_edit{
	
}

#l_div{
	width:50%;
	height:100%;
	float:left;
}

#r_div{
	width:50%;
	height:100%;
	padding-left:4%;
	float:left;
}

.midasi{
	margin-top:1em;
	font-size:1.4em;
	color:#067145;
}

#midasi1{
	margin-top:1em;
	font-size:1.4em;
	text-align:right;
}

#midasi2{
	margin-top:0.5em;
	font-size:1.4em;
	text-align:right;
	color:#067145;
}

#midasi3{
	margin-top:1em;
	font-size:1.4em;
	text-align:right;
	color:#067145;
}

#text1{
	margin-top:0.5em;
}


#test{

	background: linear-gradient(to bottom, #FFC778, rgba(246,202,6,0.1));
	
}

.blur, .blur > img {
    margin: 0; padding: 0;
    border: 0;
}

.blur {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.blur:after {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    -moz-box-shadow: inset 0px 0px 15px 15px #fff;
    -webkit-box-shadow: inset 0px 0px 15px 15px #fff;
    box-shadow: inset 0px 0px 15px 15px #fff;
    content: " ";
}